* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'work sans';
}
html,body {
    height: 100%;
    width: 100%;
background-color: black;

   
}
video{
  height: 70%;
width: 100%;
overflow: hidden;
object-fit: cover;
}



h1{
   position: absolute;
   top: 20px;
   left: 3%;
    margin-right: 10%;
    color: white;
   align-items: center;
   z-index: 10;
}
h2{
color: white;
margin-left: 43%;
 position: absolute;
   top: 20px;
   left: 5%;
    color: white;
   align-items: center;
   z-index: 10;
}
h3{
    
  font-size: 21px;
   position: absolute;
   top: 20px;
   right: 16%;
    margin-right: 10%;
    color: white;
   align-items: center;
   z-index: 10;
  
    
}
h4{
    
color: white;
    font-size:23px;
height: 40px;
align-items: center;
right: 16%;
top: 20px;
position: absolute;

    
}
h5{
color: white;
font-size:23px;
height: 40px;
align-items: center;
right: 36%;
top: 20px;
position: absolute; 
}
.nav-bar h6{
   color: white;
height: 4%;
object-fit: cover;
right: 2%;
width: 2%;
left: 87%;
top: 20px;
position: absolute; 
background-color: aliceblue;


}
.nav-bar h6 img{
    width:100%;
    height: 100%;
    object-fit: cover;
  border: 2px solid white;
  border-radius: 27%;
}

.video{
border-radius: 25%;
width: 30%;
top: 140%;
padding-left: 1%;
padding-top: 0.3%;
}
h7{
 height: 6%;
align-items: center;
right: 56%;
width: 30%;
top: 25px;
position: absolute; 
border: 2px solid white ;
color: white;
border-radius: 22vh;
padding-left: 4%;
padding-top: 0.7%;
font-size: larger;
font-weight:700 ;


}
h10 img{
height: 5%;
align-items: center;
right: 56%;
width: 3%;
top: 20px;
position: relative; 
background-color: rgba(255, 255, 255, 0.764);
border-radius:24%;
}

h8{   
height: 4%;
border-radius: 15px;
align-items: center;
right: 6%;
width: 2%;
top: 20px;
position: absolute; 
background-color: aliceblue;
border: 2px solid white;

}

.nav-bar h8 img{
    width:100%;
    height: 100%;
    object-fit: cover;
  border: 2px solid white;
  border-radius: 27%;
}
.nav-bar h9{
   height: 4%;
border-radius: 15px;
align-items: center;
right: 1%;
width: 2%;
top: 20px;
position: absolute; 
background-color: aliceblue;
border: 2px solid white; 
}
.nav-bar h9 img{
    width:100%;
    height: 100%;
    object-fit: cover;
  border: 2px solid rgba(172, 147, 147, 0.653);
  border-radius: 27%;
}



.structure-2{
  
color: white;
top: 45%;
left: 43%;
position: absolute;
border:3px solid white;
transform: translate(-50% -50%);
padding: 40px 7.3%;
letter-spacing: 1px;
text-transform: uppercase;
}
.structure-2 h2{
 white-space: nowrap;
position:absolute ;
text-align: left;
margin-top: 34%;
margin-left:-100%;
}
.structure-2 h3{
  margin-top: -149.01%;


}
.structure-2 h3 img{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.486);
  margin-left: -266%;
  border-radius: 2vw;
  border:2px solid white;
}
.video2 img{
margin-right: 83%;
 width: 50px;
margin-left: 7% ;
white-space: nowrap;
margin-top: 23%;
}
.video2{
    border-top: 100%;
    object-fit: contain;
    margin-top: -25%
    
}
 .nav-tag{
 padding-top: 22%;
     
 }
 .nav-tag  h1{
height: 6%;
border-radius: 25vh;
align-items: center;
width: 15%;
top: 140%;
left: 5%;
position: absolute; 
border: 2px solid white;
font-size: 190%;
padding-left: 2%;


 }
 .nav-tag  h2{
left: -13%;
height: 6%;
border-radius: 25vh;
width: 30%;
top: 140%;
border: 2px solid white;
padding-left: 2%;
padding-top: 0.3%;

 }

 .nav-tag  h3{
left: 57%;
height: 6%;
border-radius: 25vh;
width: 3%;
top: 140%;
color: white;
background-color: rgba(255, 255, 255, 0.395);
border: 2px solid white;
 }
 .nav-tag  h3 img{
  width: 70%;
  padding-right:12%;
  margin-left: 24%;
 padding-right: 2%;
 margin-top: 15%;

 
  

 }

 
 .nav-tag  h4{
left: 70%;
height: 6%;
border-radius: 25vh;
width: 6%;
top: 140%;
border: 2px solid white;
padding-left: 1%;
padding-top:0.3%;

 }
  .nav-tag  h5{
left: 80%;
height: 6%;
border-radius: 25vh;
width: 15%;
top: 140%;
border: 2px solid white;
padding-top:0.4%;
padding-left: 1%;

 }
 h6{
left: 92%;
height: 6%;
border-radius: 25vh;
width: 3%;
top: 140%;
border: 2px solid white;
 }

 .page-3{
 position: relative;
 margin-top:-63%;
 
 }
  .page-3 h1{
background-color: rgba(255, 255, 255, 0.115);
border: 2px solid rgba(255, 255, 255, 0.34);
width: 9%;
border-radius: 2vw;
margin-left: 34%;
margin-top: -1%;
padding-left: 2%;
opacity: 90%;
font-size: 190%;

  }
  .page-3 h2{

background-color: rgba(255, 255, 255, 0.115);
border: 2px solid rgba(255, 255, 255, 0.34);
width: 18%;
border-radius: 2vw;
margin-left: 43%;
margin-top: -1%;
padding-left: 3.6%;
opacity: 90%;
font-size: 190%;
  }
  .page-3 h3{
background-color: rgba(255, 255, 255, 0.115);
margin-top: -1%;
margin-right:7%;
border: 2px solid rgba(255, 255, 255, 0.34);
width: 9%;
padding-left: 1.5%;
border-radius: 2vw;
opacity: 90%;
font-size: 190%;
  }
  .page-3 h4{
background-color: rgba(255, 255, 255, 0.115);
border: 2px solid rgba(255, 255, 255, 0.34);
width: 9%;
border-radius: 2vw;
margin-top: -1%;
margin-right: -4%;
padding-left: .6%;
opacity: 90%;
font-size: 190%;
  }
 
   .page-3 h5{
border: 2px solid rgba(255, 255, 255, 0.34);
background-color: rgba(255, 255, 255, 0.115);
width: 9%;
border-radius: 2vw;
margin-top: -1%;
margin-right: -35%;
padding-left:1.87%;
opacity: 90%;
font-size: 190%;
   }
 .paragraph h1{
  margin-top: 43%;
  font-style: oblique;
 }


.paragraph h2{
  margin-top: 13%;
}
 .page4 img{

  width: 500px;
  height: 500px;
  margin-top: 8%;
  margin-left: 3%;
  border: 3px solid white;
border-radius: 2vw;
opacity: 23%;
  
}
.page4 h1{
  margin-top:82%;
  margin-left: 2%;
}
.page4 h2{
  margin-top: 86%;
  margin-left:2% ;
  text-shadow: 23px solid white;
  font-weight: 700%;
}

.page4 h3{
border: 2px solid rgba(255, 255, 255, 0.508);
  margin-top: 90%;
  margin-right:57%;
  border-radius: 2vw;
width: 13%;
padding-left: 1.17%;
}

 .page5 img{
width: 400px;
  height: 300px;
  margin-left: 6.50%;
  border: 1px solid white;
  border-radius: 2vw;
  object-fit: cover;
  margin-top: -700px;
 
 }
 .page6 img{
  width: 50%;
  height: 90%;
  margin-left: 45%;
  border: 1px solid white;
  border-radius: 2vw;
  object-fit: cover;
  margin-top: -99%;
  opacity:75%;
 }
 .page6 h1{

  margin-top: 79%;
  margin-left:82% ;
  font-weight: 700%;
  border: 2px solid white;
  border-bottom: 1vw solid rgba(255, 255, 255, 0.641);
  text-shadow: 3rem;
  width: 9%;
  padding-left: 1%;
  color: rgb(255, 255, 255);
 }
 .page6 h2{

  margin-top: 89%;
  margin-left:42% ;
  font-weight: 700%;
 }
.page6 h3{
padding-right: 20px;
  margin-top: 93%;
   border-radius: 2vw;
   border: 2px solid white;
width: 13%;
padding-left: 1.17%;
}


 .page7 img{
  width: 400px;
  height: 300px;
  margin-left: 57%;
  border: 1px solid white;
  border-radius: 2vw;
  object-fit: cover;
  margin-top: -960px;
 }



 
